@model IEnumerable<BigSchool.Models.Course>



<table class="table" style="margin-top:100px;margin-bottom:500px">
    <thead style="font-size:large;font-weight:bold">
        <tr class="row">
            <td class="col-md-2">Ngày tháng</td>
            <td class="col-md-4">Giảng viên</td>
            <td class="col-md-5">Tên khóa</td>
            <td class="col-md-1"></td>
        </tr>
    </thead>
    <tbody style="font-size:medium">
        @foreach (var course in Model)
        {
            <tr class="row">
                <td class="col-md-3">
                    <div class="date">
                        <span class="month"></span> @course.DateTime.ToString("MM")-
                        <span class="day">@course.DateTime.ToString("dd")</span>
                    </div>
                </td>
                <td class="col-md-4">
                    <div class="details">
                        <span class="lecturer">
                            @course.Lecturer.Name
                        </span>
                    </div>
                </td>
                <td class="col-md-5">
                    <div class="details">
                        <span class="category">
                            @course.Category.Name
                        </span>
                    </div>
                </td>
                <td class="col-md-1">
                    <div class="action">
                        <a href="@Url.Action("Edit","Courses", new { id = course.Id })">Edit</a> |
                        <a data-course-id="@course.Id" href="#" class="js-cancel-course">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



@*<div class="row">
    <ul class="course">
        @foreach (var course in Model)
            {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>

                <div class="action">
                    <a href="@Url.Action("Edit","Courses", new { id = course.Id })">Edit</a> |
                    <a data-course-id="@course.Id" href="#" class="js-cancel-course">Delete</a>
                </div>
            </li>
        }

    </ul>
</div>*@

@section scripts{
    <script>
        $(function () {
            $('.js-cancel-course').click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to cancel?", function () {
                    $.ajax({
                        url: "/api/courses/" + link.attr("data-course-id"),
                        method: "DELETE"
                    }).done(function () {
                        link.parents("li").fadeOut(function () {
                            this.remove();
                        });
                    }).fail(function () {
                        alert("Something failed");
                    });
                });
            });
        })
    </script>
}