@model BigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}



<table class="table" style="margin-top:100px;margin-bottom:500px">
    <thead style="font-size:large;font-weight:bold">
        <tr class="row">
            <td class="col-md-2">Ngày tháng</td>
            <td class="col-md-5">Giảng viên</td>
            <td class="col-md-5">Tên khóa</td>
        </tr>
    </thead>
    <tbody style="font-size:medium">
        @foreach (var course in Model.UpcommingCourses)
        {
            <tr class="row">
                <td class="col-md-3">
                    <div class="date">
                        <span class="month"></span> @course.DateTime.ToString("MM")-
                        <span class="day">@course.DateTime.ToString("dd")</span>
                    </div>
                </td>
                <td class="col-md-4">
                    <div class="details">
                        <span class="lecturer">
                            @course.Lecturer.Name
                            @if (Model.ShowAction)
                            {
                                if (Model.Followings.Any(x => x.FolloweeId == course.Lecturer.Id))
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-default  js-toggle-follow">Following?</button>
                                }
                                else
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-success js-toggle-follow">Follow?</button>
                                }

                            }
                        </span>
                    </div>
                </td>
                <td class="col-md-5">
                    <div class="details">
                        <span class="category">
                            @course.Category.Name
                            @if (Model.ShowAction)
                            {
                                if (Model.Attendances.Any(x => x.CourseId == course.Id))
                                {
                                    <button data-course-id="@course.Id" class="btn btn-info">Học?</button>
                                }
                                else
                                {
                                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Không Học?</button>
                                }
                            }
                        </span>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $(function () {
            $('.js-toggle-attendance').click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { CourseId: button.attr("data-course-id") }).done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                }).fail(function () {
                    alert("Something failed");
                });
            });


            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { FolloweeId: button.attr("data-user-id") }).done(function () {
                    button
                        .text("Following");
                }).fail(function () {
                    alert("Something failed");
                });
            });
        });
    </script>
}